{% extends "layout.html" %}
{% block body %}
  <h2>Overview</h2>
  {% if session.user_id %}
    <p>Hello {{ session.name }}!</p>
    <img src="{{ session.avatar }}">
    <p>Signed in with {{ session.network }}</p>
    <p><a href="{{ url_for('common.logout') }}">Logout</a></p>

  {% else %}
    <p>
      Sign in to continue.
    </p>
    <p>
      <a href="{{ url_for('auth.facebook_login') }}">Facebook</a>
    </p>
    <p>
      <a href="{{ url_for('auth.instagram_login') }}">Instagram</a>
    </p>
    <p>
      <a href="{{ url_for('auth.twitter_login') }}">Twitter</a>
    </p>
    <p>
      <a href="{{ url_for('auth.weibo_login') }}">Weibo</a>
    </p>
  {% endif %}

{% endblock %}