<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
<title>{% block title %}Welcome{% endblock %} - Meraki Social Splash</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <main id="main" class="site-main" role="main">
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}</p>
{% endfor %}
    <div class="content--narrow" >
{% block body %}{% endblock %}
    </div>
  </main>
</body>
</html>